html, body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Helvetica;

}

button, input {
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    font-family: Helvetica;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#animation {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}